<ion-view class="deal_hide_view">
  <ion-header-bar class="header_bar dark">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnBack" ng-click="goBack()">
    </button>

    <div class="title">
      Deals
    </div>

    <!--button class="button button-icon button-clear ion-ios-gear-outline pull-right" id="btnSetting" ng-click="goSetting()">
    </button-->
  </ion-header-bar>

  <ion-content class="padding">
    <div class="row">
      <label>Name, Surname</label>
    </div>

    <div class="row">
      <input type="text" name="name" />
    </div>

    <div class="row">
      <label>Phone</label>
    </div>

    <div class="row">
      <input type="text" name="phone" />
    </div>

    <div class="row">
      <label>Email</label>
    </div>

    <div class="row">
      <input type="email" name="email" />
    </div>

    <div class="row">
      <label>Availability(optional)</label>
    </div>

    <div class="row">
      <input type="text" name="avail" />
    </div>

    <div class="row">
      <label>Message</label>
    </div>

    <div class="row">
      <textarea type="text" name="message"></textarea>
    </div>


  </ion-content>

  <div class="bottom_bar">
    <div class="row">
      <button class="button button-block btnHideMe" ng-click="goHideMe()">
        HIDE ME
      </button>
    </div>
  </div>

</ion-view>






