<ion-view class="req_car_step_9_view">
  <ion-header-bar class="header_bar dark">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnBack" ng-click="goBack()">
    </button>

    <div class="title">
      Filters
    </div>

    <!--button class="button button-icon button-clear ion-ios-gear-outline pull-right" id="btnSetting" ng-click="goSetting()">
    </button-->
  
  </ion-header-bar>

  <ion-content class="" scroll="false">
    <div style="padding: 10px;">
      <div class="row" style="text-align:center;">
        <h3 style="font-style:italic; margin: 10px auto 20px; color:#002639;">Filter your candidates</h3>
      </div>

      <div style="border: 1px solid #d6d6d6; border-radius:5px; background-color:white; padding: 5px;">
        <h4>Average ratings</h4>
        <div class="row">
          <div class="col col-80">
            <!--ionic-ratings ratingsobj='ratingsObject' style="text-align:left; width:100%;"></ionic-ratings-->
            <rating ng-model="rating.rate" max="{{rating.max}}"></rating>
          </div>
          <div class="col col-20" style="font-style:italic;">
            {{rating.rate}} +
          </div>
        </div>

        <div class="row">
          <div class="col col-80 rating_range">
            <div class="item range">
              <input type="range"  min="0" max="{{rating.max}}" step="0.1" ng-model="rating.rate" >
            </div>
          </div>
          <div class="col col-20">
            <button class="button button-dark button-small" ng-click="goReset()">
              Reset
            </button>
          </div>
        </div>
      </div>

      <div style="border: 1px solid #d6d6d6; border-radius:5px; background-color:white; padding: 5px; margin-top:20px;">
        <h4>Credentials</h4>
        <div class="row text-center">
          
          <span class="pros_iv iv_1" ng-class="cred_lists[0].active" ng-click="change_cred(0)">
            licensed
          </span>
          <span class="pros_iv iv_2" ng-class="cred_lists[1].active" ng-click="change_cred(1)">
            bonded
          </span>
          <span class="pros_iv iv_3" ng-class="cred_lists[2].active" ng-click="change_cred(2)">
            insured
          </span>
          <span class="pros_iv iv_4" ng-class="cred_lists[3].active" ng-click="change_cred(3)">
            acredited
          </span>
          <span class="pros_iv iv_5" ng-class="cred_lists[4].active" ng-click="change_cred(4)">
            response
          </span>
          <span class="pros_iv iv_6" ng-class="cred_lists[5].active" ng-click="change_cred(5)">
            since
          </span>

        </div>
      </div>


  </ion-content>

  <div class="bottom_bar">
    <div class="row">
      <button class="button button-block btnFilter" ng-click="goFilter()">
        FILTER PROS
      </button>
    </div>
  </div>

</ion-view>





