<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive req_6_tabs">

  <!-- My Home Tab -->
  <ion-tab title="access camera" class="camera_tab_item" icon-off="ion-off-camera" icon-on="ion-on-camera" href="#/req-6-tab/camera">
    <ion-nav-view name="req-6-tab-camera" class="req_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- commercial Tab -->
  <ion-tab title="file" class="file_tab_item" icon-off="ion-off-file" icon-on="ion-on-file" href="#/req-6-tab/file">
    <ion-nav-view name="req-6-tab-file" class="req_nav_view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
