<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive req_tabs">

  <!-- My Home Tab -->
  <ion-tab title="my home" class="myhome_tab_item" icon-off="ion-off-myhome" icon-on="ion-on-myhome" href="#/req-tab/myhome">
    <ion-nav-view name="req-tab-myhome" class="req_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- commercial Tab -->
  <ion-tab title="commercial" class="commercial_tab_item" icon-off="ion-off-commercial" icon-on="ion-on-commercial" href="#/req-tab/commercial">
    <ion-nav-view name="req-tab-commercial" class="req_nav_view"></ion-nav-view>
  </ion-tab>

</ion-tabs>
