<ion-view class="start_page">
  <ion-content style="" scroll="false">

	  <ion-slide-box>
	    <ion-slide>
	      <div class="slide_box box1">
	        <div class="row" style="font-size:20px; font-weight:bold;">
	        	<div>What service do you need next?</div>
	        </div>

	        <div class="row" style="font-size:15px; margin-top:30px;">
	        	<div><span style="color:#2ADE73;">Markate</span> brings local services to you.</div>
	        	<div>Save Time & Money. FOR FREE!</div>
	        </div>
	      </div>
	    </ion-slide>

	    <ion-slide>
	      <div class="slide_box box2">
	        <div class="row" style="font-size:20px; font-weight:bold;">
	        	<div>Manage at your finger tips</div>
	        </div>

	        <div class="row" style="font-size:15px; margin-top:30px;">
	        	<div>Access Business profiles,</div>
	        	<div>compare, Hire and Engage</div>
	        </div>
	      </div>
	    </ion-slide>

	    <ion-slide>
	      <div class="slide_box box3">
	        <div class="row" style="font-size:20px; font-weight:bold;">
	        	<div>Safe and Secured payment</div>
	        </div>

	        <div class="row" style="font-size:15px; margin-top:30px;">
	        	<div>Safe payment options, No hidden</div>
	        	<div>charges, Recieve Cash back</div>
	        </div>
	      </div>
	    </ion-slide>

	  </ion-slide-box>

	  <div class="login_box">
	  	<div class="row">
			<button class="button button-block button-balanced col col-80 col-offset-10 btnSignup" ng-click="goSignUp();">
				Sign up
			</button>
	  	</div>
	  	<div class="row">
			<button class="button button-block col col-80 col-offset-10 btnLogin" ng-click="goLogIn();">
				Log in
			</button>
	  	</div>
	  </div>

  </ion-content>
</ion-view>
