<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive track_tabs">

  <!-- My Request Tab -->
  <ion-tab title="my request" class="request_tab_item" icon-off="ion-off-t-request" icon-on="ion-on-t-request" href="#/track-tabs/request">
    <ion-nav-view name="track-tab-request" class="track_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Estimate Tab -->
  <ion-tab title="estimates" class="estimate_tab_item" icon-off="ion-off-t-estiamte" icon-on="ion-on-t-estiamte" href="#/track-tabs/estimate">
    <ion-nav-view name="track-tab-estimate" class="track_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Job Order Tab -->
  <ion-tab title="job order" class="job_tab_item" icon-off="ion-off-t-job" icon-on="ion-on-t-job" href="#/track-tabs/job">
    <ion-nav-view name="track-tab-job" class="track_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Payment Tab -->
  <ion-tab title="payment" class="payment_tab_item" icon-off="ion-off-t-payment" icon-on="ion-on-t-payment" href="#/track-tabs/payment">
    <ion-nav-view name="track-tab-payment" class="track_nav_view"></ion-nav-view>
  </ion-tab>

</ion-tabs>