<ion-view class="track_estimate_sign_view">
  <ion-header-bar class="header_bar dark">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnBack" ng-click="goBack()">
    </button>

    <div class="title">
      My Signature
    </div>

    <!--button class="button button-icon button-clear ion-ios-gear-outline pull-right" id="btnSetting" ng-click="goSetting()">
    </button-->
  
  </ion-header-bar>

  <ion-content class="" scroll="false">
    <div class="signature">

    </div>
  </ion-content>

  <div class="bottom_bar">
    <div class="row">
      <button class="button button-block btnConfirm" ng-click="goConfirm()">
        CONFIRM ESTIMATE AND HIRE
      </button>
    </div>
  </div>

</ion-view>





